.selektor {
  background-color: #403075;
  margin: 5px;
  padding: 5px;
}
.button{
  transition-duration: 0.2s;
  background-color: #625295;
  padding: 5px;
  border: none;
  text-align: left;
}
input{
  padding:5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color:black;
}
a{
  transition-duration: 0.2s;
  background-color: #625295;
  color: black;
  padding: 5px;
  border: none;
  text-align: left;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}
a:hover{
  background-color: mediumpurple;
  color: black;
}
label{
  color: white;
}
#speichern {
  transition-duration: 0.2s;
  background-color: #625295;
  color: black;
  padding: 5px;
  border: none;
  text-align: left;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}
.abbrechenDiv{
  margin-bottom: 5px;
}

