.item1 { grid-area: head; }
.item2 { grid-area: sidebar1; }
.item3 { grid-area: sidebar2; }
.item4 { grid-area: sidebar3; }
.item5 { grid-area: sidebar4; }
.item6 { grid-area: sidebar5; }
.item7 { grid-area: main; }

.grid-container {
  display: grid;
  grid-template-areas:
    'head head head head head head'
    'sidebar1 main main main main main'
    'sidebar2 main main main main main'
    'sidebar3 main main main main main'
    'sidebar4 main main main main main'
    'sidebar5 main main main main main';
  grid-gap: 10px;
  background-color: #669933;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 5px;
  margin-bottom: 5px;
}
.flexbox {
  display: flex;
  flex-wrap: nowrap;
}
.box-01 {
  flex-basis: auto;
  flex-grow: 1;
  text-align: left;
}
.box-02 {
  flex-basis: auto;
  flex-grow: 4;
  text-align: right;
}
input{
  transition-duration: 0.2s;
  background-color: #669999;
  padding: 5px;
  border: none;
  text-align: left;
}
button{
  transition-duration: 0.2s;
  background-color: #669999;
  padding: 5px;
  border: none;
  text-align: left;
}
a{
  transition-duration: 0.2s;
  background-color: #669999;
  color: black;
  padding: 5px;
  border: none;
  text-align: left;
  text-decoration: none;
  margin-top: 5px;
}
a:hover{
  background-color: mediumpurple;
  color: black;
}
button:hover {
  background-color: mediumpurple;
  color: black;
}
ul{
  line-height: 2em;
}
label{
  background-color: #669933;
  text-align: left;
  padding: 5px;
}
/* einfaches Layout fuer Demonstrator */

* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
}

header {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   color: black;
}

main {
   position: absolute;
   top: 70px;
   left: 650px;
   right: 0;
   bottom: 100px;
}
footer {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100px;
   background-color: blue;
   color: white;
}
footer p {
   text-align: center;
}

.clSelected {
   background-color: #669999;
   color: white;
}

form label {
   display: block;
   width: 200px;
}
form input {
   display: block;
   width: 300px;
}
form button {
   display: block;
}
body{
    background-color: #669933;
}
/* EOF */